<ion-content padding>
  <ion-grid>

    <ion-row>
      <ion-col src="12">
        <ion-img src="/assets/logo.png"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col src="12">
        <h4>Saiba qual a melhor opção para abastecimento do seu carro</h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col src="12">
        <ion-item>
          <ion-label position="stacked">Preço Álcool, ex: 1,90</ion-label>
          <ion-input type="number" [(ngModel)]="priceAlcohol"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Preço Gasolina, ex: 2,90</ion-label>
          <ion-input type="number" [(ngModel)]="priceGasoline"></ion-input>
        </ion-item>

        <ion-button expand="full" (click)="calculate()">Calcular</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col src="12">
        <h5 class="ion-text-center">{{result}}</h5>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
